@*<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - DesafioFPF.WebApp</title>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 mx-auto">
                    <div class="row">
                        <div class="form-group col-3" style="background-color: black; height: auto;">
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <a style="color:aliceblue;font-size:30px;">Cadastros</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" href="/">Departamento</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/Funcionario">Funcionários</a>
                                </li>
                                <li class="nav-item">
                                    <a style="color:aliceblue;font-size:30px;">Relatório</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/Home">Total de Salários</a>
                                </li>
                            </ul>
                        </div>
                        <div class="form-group col-sm-9">
                            <main role="main" class="pb-3">
                                @RenderBody()
                            </main>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2021 - DesafioFPF.WebApp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @RenderSection("Scripts", required: false)
        <script src="~/Scripts/Highcharts-4.0.1/js/highcharts.js"></script>
    </body>
    </html>*@

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DesafioFPF.WebApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="row">
        <div class="flex-column" style="background-color: black; padding-bottom: 100%;
">
            <a style="color:aliceblue;font-size:30px; padding-left:20px; padding-right:30px;">Cadastros</a>
            <li class="nav-item" style="margin-top: -26px; padding-left: 10px;">
                <a class="nav-link" style="color:aliceblue" href="/">Departamento</a>
                <a class="nav-link" style="color:aliceblue" href="/Funcionario">Funcionários</a>
            </li>
            <a style="color:aliceblue;font-size:30px; padding-left:20px; padding-right:30px;">Relatórios</a>
            <li class="nav-item" style="margin-top: -26px; padding-left: 10px;">
                <a class="nav-link" style="color:aliceblue" href="/Home">Total de Salários</a>
            </li>
        </div>
        <div class="form-group col-sm-9">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - DesafioFPF.WebApp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
    <script src="~/Scripts/Highcharts-4.0.1/js/highcharts.js"></script>
</body>
</html>

