@model IEnumerable<DesafioFPF.WebApp.Banco.Entities.Rule>

@{
    ViewData["Title"] = "Departamento";
}

<h1>Departamento</h1>

<div class="form-group text-right">
    @*<a asp-action="Create">Create New</a>*@
    <a class="btn btn-success" asp-action="Create" role="button">Novo</a>
</div>
<div class="form-group text-right">
    @using (Html.BeginForm())
    {
        <p>
            Procurar: @Html.TextBox("searchString")
            <input type="submit" name="Busca" />
        </p>
    }
</div>
<div class="form-group">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Nome</th>
                <th scope="col">Modificado em</th>
                <th scope="col">Ativo</th>
                <th scope="col">Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ModifiedAt)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Active)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
